@model LinqSchool.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        
            
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Teachers.TeacherId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        
    </dl>
</div>
